.container{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

.container2{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

table{
    padding: 5vh;
}

img{
    max-width: 15vh;
}

.diceImages{
    max-width: 50vh;
    padding: 5vh;
}

.btnContainerThrowDice{
    padding: 20px;
    margin-left: 280px;
}

#rollDice{
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

